body {
  background-color: darkgray;
}

* {
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

.btn-standard {
  background-color: darkviolet;
  color: ghostwhite;
}

.btn-standard:hover {
  background-color: orange;
  color: ghostwhite;
}